html{
    background-color: green;
    font-size: 30px;
    text-align: center;
    
}
h1{
    background-color: white;
    color: gray;
    font-size: 20;
    text-align: center;
}
<p>{
    color: white;
    font-size: 20;
    text-align: center;
}

body{
    padding:
}
